<!DOCTYPE html><html><head>
<title>ns_serverrootproc - NaviServer Built-in Commands</title>
<link rel="stylesheet" href="../man.css" type="text/css">
</head>
<!-- Generated from file 'ns_serverrootproc.man' by tcllib/doctools with format 'html'
   -->
<!-- ns_serverrootproc.n
   -->
<body><div id="man-header">
  <a href="https://wiki.tcl-lang.org/page/NaviServer"><span class="logo">&nbsp;</span><strong>NaviServer</strong></a>
  - programmable web server
</div>
 <hr> [
   <a href="../../toc.html">Main Table Of Contents</a>
&#124; <a href="../toc.html">Table Of Contents</a>
&#124; <a href="../../index.html">Keyword Index</a>
 ] <hr>
<div class="doctools">
<h1 class="doctools_title">ns_serverrootproc(n) 4.99.20 naviserver &quot;NaviServer Built-in Commands&quot;</h1>
<div id="name" class="doctools_section"><h2><a name="name">Name</a></h2>
<p>ns_serverrootproc - Callback for determining server root</p>
</div>
<div id="toc" class="doctools_section"><h2><a name="toc">Table Of Contents</a></h2>
<ul class="doctools_toc">
<li class="doctools_section"><a href="#toc">Table Of Contents</a></li>
<li class="doctools_section"><a href="#synopsis">Synopsis</a></li>
<li class="doctools_section"><a href="#section1">Description</a></li>
<li class="doctools_section"><a href="#section2">COMMANDS</a></li>
<li class="doctools_section"><a href="#section3">EXAMPLES</a></li>
<li class="doctools_section"><a href="#see-also">See Also</a></li>
<li class="doctools_section"><a href="#keywords">Keywords</a></li>
</ul>
</div>
<div id="synopsis" class="doctools_section"><h2><a name="synopsis">Synopsis</a></h2>
<div class="doctools_synopsis">
<ul class="doctools_syntax">
<li><a href="#1"><b class="cmd">ns_serverrootproc</b> <i class="arg">cmd</i> <span class="opt">?<i class="arg">args</i>?</span></a></li>
</ul>
</div>
</div>
<div id="section1" class="doctools_section"><h2><a name="section1">Description</a></h2>
<p>If virtual hosting is enabled, this function can be used to set a
callback for determining the server root directory based on the host
header field of the current connection.</p>
</div>
<div id="section2" class="doctools_section"><h2><a name="section2">COMMANDS</a></h2>
<dl class="doctools_definitions">
<dt><a name="1"><b class="cmd">ns_serverrootproc</b> <i class="arg">cmd</i> <span class="opt">?<i class="arg">args</i>?</span></a></dt>
<dd><p>The command registered with ns_serverrootproc may have the host
appended as the last arg before it is executed</p></dd>
</dl>
</div>
<div id="section3" class="doctools_section"><h2><a name="section3">EXAMPLES</a></h2>
<pre class="doctools_example">
 ns_serverrootproc nstest::serverroot arg
 
 proc nstest::serverroot {{host &quot;&quot;} args} {
   if {$host ne &quot;&quot; } {
     set path [eval file join testserverroot $host $args]
   } else {
     set path [eval file join testserverroot $args]
   }
   return $path
 }
</pre>
</div>
<div id="see-also" class="doctools_section"><h2><a name="see-also">See Also</a></h2>
<p><a href="ns_locationproc.html">ns_locationproc</a></p>
</div>
<div id="keywords" class="doctools_section"><h2><a name="keywords">Keywords</a></h2>
<p><a href="../../index.html#callback">callback</a>, <a href="../../index.html#global_built_in">global built-in</a>, <a href="../../index.html#hosting">hosting</a>, <a href="../../index.html#virtual">virtual</a></p>
</div>
<div id="man-footer">
  
</div>
</div></body></html>
